<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Rohit Moza Blog</h1>
      <%= link_to 'Write a New Blog', new_blog_path, class: 'btn btn-success' if logged_in?(:site_admin)%>
      <%= link_to "Topics", topics_path, class: 'btn btn-warning' %>
  </div>
</div>